{% if site.author.avatar %}
  <img src="{{ site.author.avatar | relative_url }}" class="img-fluid z-depth-1 rounded-circle" alt="photo">
{% endif %}

<h3>{{ site.author.name }}</h3>
<p>{{ site.author.bio }}</p>

<ul class="contact-list">
  {% if site.author.location %}
    <li><i class="fas fa-map-marker-alt"></i> {{ site.author.location }}</li>
  {% endif %}
  {% if site.author.email %}
    <li><i class="fas fa-envelope"></i> <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
  {% endif %}
  {% if site.author.linkedin %}
    <li><i class="fab fa-linkedin"></i> <a href="{{ site.author.linkedin }}">LinkedIn</a></li>
  {% endif %}
</ul>
